{% extends "main/base.html" %}

{% block title %}
    <title>Login - Flashcardstack</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>  
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div> Login (WIP)</div>
    <div>
        <form method = "POST" class="form-group">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Log In! -></button>
        </form>
        <br>
        <a href="{% url 'register' %}">Register</a>
    </div>
{% endblock content %}

