{% extends "main/base.html" %}

{% block title %}
    <title>Login - Flashcardstack</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>  
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <form method = "POST" class="form-group form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="form__button">Log In!</button>

        </form>

    </div>
    <br/>
    <form action="{% url 'register' %}">
        <button type="submit" class="form__button">Register</button >
    </form>

{% endblock content %}

