{% extends "main/base.html" %}

{% block title %}
    <title>Login - Flashcardstack</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>  
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <form method = "POST" class="form-group form">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form__spacer" aria-hidden="true"></div>
            <button type="submit" class="form__button">Log In!</button>

        </form>
        <br/>
        <form action="{% url 'register' %}" class="form">
            <button type="submit" class="form__button">Register</button>
        </form>

    </div>
{% endblock content %}

