{% extends "main/base.html" %}

    {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div>  
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <h1>{{user.get_username}}</h1>
        <ul>
            {% for lesson in lessons %}
                <li>  
                    <a href="showcards/{{lesson.pk}}">{{lesson.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="{% url 'addcard' %}">Add Card!</a></li>
            <li><a href="{% url 'addlesson' %}">Add lesson!</a></li>
            <li><a href="{% url 'logout' %}">Logout!</a></li>
        </ul>
    {% endblock content %}
            