{% extends "main/base.html" %}

    {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div>  
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <h2>Hello {{user.get_username}}!</h2>

        <div class="div1">
            <div class="lessons">
                <h3>Your lessons</h3>
                {% for lesson in lessons %}
                <a href="loadcards/{{lesson.pk}}">{{lesson.title}}</a>
                <br/>
                {% endfor %}
            </div>
            <div class="properties">
                <h3>Properties</h3>
                <a href="{% url 'addlesson' %}">Add lesson</a>
                <br/>
                <a href="{% url 'editlesson' %}">Edit Lesson</a>
                <br/>
                <a href="{% url 'logout' %}">Logout</a>
                <br/>
            </div>
        </div>
    {% endblock content %}
            