{% extends "main/base.html" %}

{% block title %}
    <title>Home - Flashcardstack</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="mess">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" class="form-group form">
        {% csrf_token %}
        {{ form }}
        <br/>
        <br/>
        <button type="submit" class="form__button">Create flashcard</button>
    </form>
    <br/>

    <form action="{% url 'profile' %}">
        <button type="submit" class="form__button">End adding cards!</button>
    </form>

{% endblock content %}