{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <h1> <a href="/profile">Flashcardstack</a></h1>
        {% else %}
            <h1> <a href="/">Flashcardstack</a></h1>
        {% endif %}
    </header>
    {% block content %} {% endblock %}
    <div class="bg" aria-hidden="true">
            <div class="bg__dot"></div>
            <div class="bg__dot"></div>
    </div>
</body>
</html>