{% extends "main/base.html" %}

{% block title %}
    <title>Home - Flashcardstack</title>
{% endblock title %}


{% block content %}

    <label id="front" >{{data.front_text}}<input type="checkbox" onclick="myFunction()"/></label>
    <label id="back" style="display:none">{{data.back_text}}<input type="checkbox" onclick="myFunction1()"/></label>

    <form action="{% url 'correct' %}">
        <button type="submit" class="form__button">Next</button >
    </form>
    <form action="{% url 'incorrect' %}">
        <button type="submit" class="form__button">Need to repeat</button >
    </form>
    <script>
    function myFunction() {
      var checkBox = document.getElementById("front");
      var text = document.getElementById("back");
      if (checkBox.checked == true){
        text.style.display = "none";
        checkBox.style.display = "flex";
      } else {
        text.style.display = "flex";
        checkBox.style.display = "none";
      }
    }
    function myFunction1() {
      var checkBox = document.getElementById("front");
      var text = document.getElementById("back");
      if (checkBox.checked == true){
        text.style.display = "flex";
        checkBox.style.display = "none";
      } else {
        text.style.display = "none";
        checkBox.style.display = "flex";
      }
    }
    </script>
{% endblock content %}