{% extends "main/base.html" %}

{% block title %}
    <title>Home - Flashcardstack</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="mess">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% for lesson in lessons %}
    <div class="edit">
        <p class="p1">{{lesson.title}}</p>
        <a href="editcards/{{lesson.pk}}">Edit</a>
        <a href="deletelesson/{{lesson.pk}}">Delete</a>
        <br/>
    </div>
    {% endfor %}
    <form action="{% url 'profile' %}">
        <button type="submit" class="form__button">Exit</button >
    </form>
{% endblock content %}