{% extends "main/base.html" %}

{% block title %}
    <title>Home - Flashcardstack</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="mess">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% for card in cards %}
    <div class="edit">
        {{card.front_text}} -> {{card.back_text}}
        <a href="/profile/deletecard/{{card.pk}}">Delete</a>
    </div>
    {% endfor %}
    <form action="{% url 'addcard' %}">
        <button type="submit" class="form__button">Add flashcard</button >
    </form>
    <form action="{% url 'profile' %}">
        <button type="submit" class="form__button">Exit</button >
    </form>
{% endblock content %}